.Results {
  margin-top: 40px;
}

.Results h2 {
  font-size: 55px;
  margin: 0;
}

.Results section {
  background: #ffffff;
  padding: 30px;
  margin: 20px 0;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgb(0 48 130 / 10%), 4px 12px 24px rgb(4 53 88 / 10%);
}

.Results .word {
  margin-bottom: 40px;
}
